[Unit]
Description=Notify Wega Mega of Git updates every 10 minutes without applying them

[Timer]
OnBootSec=10min
OnUnitInactiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
