[Unit]
Description=Prepare Wega Mega Git updates in background every minute

[Timer]
OnBootSec=1min
OnUnitInactiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
