[Unit]
Description=Build Wega Mega updates for next server start
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Nice=10
CPUWeight=10
ExecStart=/usr/local/sbin/wega-update
TimeoutStartSec=infinity
